*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
#w{
	max-width: 1200px;
	min-width: 800px;
	margin: auto;
}
header{
	border: 1px solid #f00;
	margin: 1% 0;
	height: 120px;
}
footer{
	border: 1px solid #b15bff;
	margin: 1% 0;
	height: 120px;
}
aside,main{
	border: 1px solid #ffaad5;
}
section,aside,main{
	min-height: 500px;
}
aside{
	width: 240px;
	float: left;
}
main{
	width: auto;
	margin-left: 250px;
}
header h1{
	margin: 10px 14px;
}
header ul{
	list-style-type: none;
	margin: 30px 0 0 14px;
	padding: 0;
}
header li{
	float: left;
}