.clearfix::after{
	content: "";
	display: block;
	clear:both;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p{
	color: #FFFFFF;
}
h1{
	color:#fff
}
header{
	width: 1200px;
	margin: auto;
	position: relative;
}
#test{
	background: url(../img/untdditled.png) no-repeat fixed;
	background-size:100%;
}
nav ul li{
	list-style-type: none;
	padding: 0;
}
.xiaofu{
	position: absolute;
	right:0px;
	top:0px;、
	max-width: 1200px;
     margin: 30px auto;
}
.xiaofu li{	
	float:left;
}
.xiaofu li a{
	text-decoration: none;
	color: #FFFFFF;
	margin: 20px 10px;
	padding: 10px;
	border: 1px solid transparent;
	transition: all .4s;
}
.xiaofu li a:hover{
	color: fuchsia;
	border: 1px solid #FFFFFF;
}
.fuck{
    position: absolute;
    right: 0;
    bottom: -215px;
}
.fuck p{
	color:purple;
}
.hobby li{
	float: left;
	margin: 10px 20px 20px 0px;
	padding: 20px;
	background-color: rgba(100,200,50,.5);
	transition: background-color .3s;
}
.hobby li:hover{
	background-color: rgba(100,200,50,.8);
}
.hobby li a {
	color: #FFFFFF;
}
